Flask
chaostoolkit
chaostoolkit-kubernetes
chaostoolkit-lib
chaostoolkit-opentracing
chaostoolkit-reporting
pytest
python-mock
pytest-cov
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability