Flask
chaostoolkit
chaostoolkit-kubernetes
chaostoolkit-lib
chaostoolkit-opentracing
chaostoolkit-reporting
pytest
python-mock
pytest-cov
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability